.btn-outline-success {
    background-color: white;
    color: #de5499;
    border-color: #de5499;
}

.btn-outline-success:hover {
    background-color: #de5499;
    border-color: #de5499;
}

/* .navbar {
    background-color: #f2ebe9;
} */

.jumbotronContainer {
    height: 50vh;
    /* border: 1px solid blue; */
    background-color: #EAECEF;
    height: 100vh;
}