.btn-light {
    background-color: #9AB6DD;
    color: white;
    border-color: #9AB6DD;
}

.btn-light:hover {
    background-color: white;
    border-color: #9AB6DD;
    color: #9AB6DD;
}

.jumbotronContainer {
    height: 50vh;
    background-color: #EAECEF;
    height: 100vh;
}